.title {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 2px;
    opacity: 0.75;
    @media (max-width: 1365px) {
        font-size: 24px;
        line-height: 28px;
    }
}