$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1365px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$main-color-light: #F0F0F3; // Цвет фона (светлый)
$main-color-dark: #1F1F1F; // Цвет фона (тёмный)
$text-color:#333333; // Цвет текста определяется процентами от данного цвета
$white:white; // Тени
$gray:#B9B7B7; // Тени
$main-brand-color:#FFA36F; // персиковый
//Header
$color-btn-orange:#E99667;
$shadow-header-dark:#0E0F10;
$shadow-header-light:rgba(255, 163, 111, 1);
$city-text:#696969;